[
    {
        "target_table": "silver_cards",
        "select_exp": [
            "card_id",
            "customer_id",
            "card_type",
            "status",
            "credit_limit",
            "ts",
            "_rescued_data",
            "__start_at as bronze_start_at",
            "__end_at as bronze_end_at"
        ]
    }
]